        <div class="col-xs-12 col-sm-10" >
          <!-- Actual Article Content -->
          <ul>
            <li><h3>{{article.title}}</h3></li>
            <li><a href="{{article.url}}" target="_newtab">{{article.url}}</a></li>
            <li>{{article.notes}}</li>
          </ul>
        </div>
        <!-- Article control buttons -->
        <div class="col-sm-2 col-xs-12 text-center">
          <button class="btn btn-block btn-add_analysis" ng-click="state.addTag=!state.addTag">Add Tag</button>
          <button class="btn btn-block btn-edit" ng-click="readyForm()">Edit</button>
          <button class="btn btn-block btn-delete" data-toggle="modal" data-target="{{'#modal-article-' + article.id}}">Delete</button>
        </div>

        <div ng-include="deleteModal" ng-controller="ArticleDeleteCtrl"></div>

        <!-- holder for new Tag form -->
        <div ng-include="tagForm" ng-controller="NewTagCtrl" ng-show="state.addTag"></div>