<div class="container" ng-controller="CompanyScoreCtrl">
  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline" ng-submit="getCompanyScore()">
        <div class="form-group">
          <label for="company_selector">Get Score for Company:</label>
          <select class="form-control" ng-model="selectedCompany" id="company_select" ng-options="company as company.name for company in companies">
            <option value="">----- Select Company ------</option>
          </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
    <hr>
    <!-- Company Score List -->
    <h1>{{activeCompany}}</h1>
    <div class="panel-group" id="outer_accordion" role="tablist" aria-multiselectable="true" ng-show="activeCompany">
      <div class="panel panel-default" ng-repeat="category in categories">
        <!-- Main Category Header -->
        <div class="panel-heading" role="tab" id="cat_header_{{category.id}}">
          <h4 class="panel-title">
            <button role="button" data-toggle="collapse" data-parent="#outer_accordion" data-target="#cat_content_{{category.id}}" aria-expanded="false" aria-controls="cat_content_{{category.id}}" class="accordion-button">
              {{category.category}} :<span ng-class="{'score-positive':category.score>0,'score-negative':category.score<0,'score-neutral':category.score==0}"> {{category.score}}</span>
            </button>
          </h4>
        </div>
        <!-- Main Category Content -->
        <div id="cat_content_{{category.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cat_header_{{category.id}}">
          <div class="panel-body">
            <!-- Subcategory accordion -->
            <div class="panel-group" id="inner_accordion_{{category.id}}" role="tablist" aria-multiselectable="true" >
              <div class="panel panel-default" ng-repeat="subcat in category.subcategories">
                <!-- SubCategory Header -->
                <div class="panel-heading" role="tab" id="cat_header_{{category.id}}_{{subcat.id}}">
                  <h4 class="panel-title">
                    <button role="button" data-toggle="collapse" data-parent="#inner_accordion_{{category.id}}" data-target="#cat_content_{{category.id}}_{{subcat.id}}" aria-expanded="false" aria-controls="cat_content_{{category.id}}_{{subcat.id}}" class="accordion-button">
                      {{subcat.subcategory}} :<span ng-class="{'score-positive':subcat.score>0,'score-negative':subcat.score<0,'score-neutral':subcat.score==0}"> {{subcat.score}}</span>
                    </button>
                  </h4>
                </div>
                <!-- SubCategory Content -->
                <div id="cat_content_{{category.id}}_{{subcat.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cat_header_{{category.id}}_{{subcat.id}}">
                  <div class="panel-body">
                    <!-- Tag list -->
                    <ul>
                      <li ng-repeat="tag in subcat.tags">
                      {{tag.tag_type}} : <span ng-class="{'score-positive':tag.score>0,'score-negative':tag.score<0,'score-neutral':tag.score==0}">{{tag.score}}</span>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
