            <div class="col-xs-12 col-sm-10">
              <dl>
                <dt>{{tag.tag_type.name}}</dt>
                <dd>{{tag.company}} {{tag.product}} (category: {{tag.tag_type.subcategory}}) <span class="score">{{tag.value}}</span> </dd>
                <dd><span class="text-muted">"{{tag.excerpt}}"</span></dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-2 tagButtons" ng-show="buttons">
              <button class="btn btn-sm btn-edit" ng-click="tagEdit()">Edit</button>
              <button class="btn btn-sm btn-delete" data-toggle="modal" data-target="{{'#modal-cross-' + article.id + '-' + tag.id}}">Delete</button>
            </div>

            <div ng-include="deleteModal" ng-controller="DeleteTagCtrl"></div>