/* List items */

.listitem {
    border: 1px #ccc solid;
    border-radius: 15px;
    background: #ccc;
    margin: 10px 0;
    padding: 5px;
}

.listitem ul {
    list-style-type: none;
}

.btn-cross {
    background: #337ab7;
}

.btn-cross:focus,
.btn-cross:hover {
    background: #286090
}

.btn-edit {
    background: #5cb85c;
}

.btn-edit:hover,
.btn-edit:focus {
    background: #449d44;
}

.btn-delete {
    background: #d9534f;
}

.btn-delete:focus,
.btn-delete:hover {
    background: #c9302c;
}

