{% extends 'base.html' %}

{% load staticfiles %}    
{% load markdown_filter %}

    {% block title %}{{post.title}} | Axiologue Blog{% endblock title %}

    {% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({{post.img.url}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <h2 class="subheading">{{post.sub_title}}</h2>
                        <span class="meta">Posted by {{post.posted_by}} on {{post.pub_time}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{post.body|markdownify|safe}}
                </div>
            </div>
            </div>
        </div>
    </article>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = 'http://www.axiologue.org/{% url 'blog:post' post.title_url %}';
                        this.page.identifier = {{post.id}}; 
                    };
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//axiologue.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    {% endblock content %}


