            <div class="col-xs-12 col-sm-10">
              <dl class="dl-horizontal" >
                <dt>{{cross.company}} {{cross.product}}</dt>
                <dd>{{cross.subcategory}}: <span class="score">{{cross.score}}</span></dd>
                <dd><span class="text-muted">{{cross.notes}}</span></dd>
              </dl>
            </div>
            <div class="col-xs-12 col-sm-2 crossButtons" ng-show="buttons">
              <button class="btn btn-sm btn-edit" ng-click="crossEdit()">Edit</button>
              <button class="btn btn-sm btn-delete" data-toggle="modal" data-target="{{'#modal-cross-' + article.id + '-' + cross.id}}">Delete</button>
            </div>

            <div ng-include="deleteModal" ng-controller="CrossDeleteCtrl"></div>