        <div id="{{modalContent.id}}" class="modal fade" tabIndex="-1" role="dialog" aria-labelledby="{{'#' + modalContent.label}}" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{modalContent.label}}" >Delete {{modalContent.kind}}?</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete the {{modalContent.kind.toLowerCase()}} <em>{{modalContent.title}}</em></p>
                <p>{{modalContent.msg}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="itemDelete()" >Delete</button>
              </div>
            </div>
          </div>
        </div>